<div class="row">
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <h2>Up since Feb.10th,2017</h2>
    <!--- <summary-stats></summary-stats> --->
    <p>Musicoin’s blockchain is POW chain but CPU-friendly. It generates 314 coins per block generated every 15 seconds to meet the micropayment needs for music consumption. Because there's no pre-allocated(or pre-mined) funds to the founding members. Instead, 100% of the coins will be mined by the community, starting from genesis.</p>
  </div>
  <div class="col-md-6 col-sm-6">
     <!-- BEGIN PORTLET-->
     <div class="portlet light">
         <div class="portlet-title">
             <div class="caption caption-md">
                 <i class="fa fa-cubes font-red"></i>
                 <span class="caption-subject font-red bold uppercase">Blocks</span>
             </div>
             <div class="actions"><span ng-app ng-controller="autorefresh">Refreshing in {{rand}} sec... </span>
                  <div class="btn-group">
                     <a class="btn btn-med" ng-click="reloadBlocks()"><i class="fa fa-refresh" ng-class="{'fa-spin': blockLoading}"></i>
                     </a>
                 </div>
             </div>
         </div>
         <div class="portlet-body">
             <div class="todo-tasklist scrollable">
                 <div ng-repeat="t in latest_blocks track by $index" class="todo-tasklist-item item-border-green row" ng-class="(t.extraData.indexOf('Parity') > -1) ? 'item-border-red': '';(t.extraData.indexOf('Pool') > -1) ? 'item-border-blue': ''">
                     <!--TODO: color by known miners -->
                     <div class="col-sm-5">
                         <span class="todo-tasklist-item-title"><i class="fa fa-cube"></i> <a href="/block/{{t.number}}">{{t.number}}</a></span><br>( {{t.txns}} txns)

                     </div>
                     <div class="todo-tasklist-controls col-sm-7">
                         <div class="todo-tasklist-item-text"><span class="todo-tasklist-date">
                             <i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago, </span><br>
                         mined by <a href="/addr/{{t.miner}}">{{t.miner}}</a><br>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- END PORTLET-->
 </div>

</div>
