<html>
  <head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <title>Musicoin Orbiter</title>
    <style>
    h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      position: absolute;
      top: 360px;
      left: 180px;
    }
    </style>
  </head>
  <body>
    <img class="img1" src="/Logo.svg" height="200" alt="Musicoin Logo" style="position: absolute; top: 150px; left: 250px;">
    <h1>This Page is under maintenance. Sorry for the inconvenience caused</h1>
  </body>
</html>
